


<!--header-->
<span th:replace="../static/base/DocHeader.html :: docheader" xmlns:th="http://www.w3.org/1999/xhtml"></span>
<!--nawigacja-->
<div th:replace="../static/base/Nav.html :: nav" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<!--beginning-->
<span th:replace="../static/base/Beggining.html :: beggining" xmlns:th="http://www.w3.org/1999/xhtml"></span>



<!--CONTENT-->

<!-- Example DataTables Card-->
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Devices: </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>STATUS</th>
                    <th sec:authorize="hasRole('USER')">SET STATUS AS "BROKEN"</th>
                </tr>
                </thead>

                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>STATUS</th>
                    <th sec:authorize="hasRole('USER')">SET STATUS AS "BROKEN"</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="device : ${devices}" >
                    <td th:text="${device.id}">DEVICE ID</td>
                    <td th:text="${device.deviceName}">DEVICE NAME</td>
                    <td th:text="${device.deviceStatus}">DEVICE STATUS</td>
                    <td sec:authorize="hasRole('USER')">
                        <a th:href="@{'/device/setStatus/broken/'+${device.id}}">SET AS BROKEN</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--CONTENT-->

<span th:replace="../static/base/Footer.html :: footer" xmlns:th="http://www.w3.org/1999/xhtml"></span>
</html>